@font-face {
  font-family: 'Croissant One';
  src: local('Croissant One'), url('./fonts/croissant-one-latin-400-normal.woff2') format('woff');
}

@font-face {
  font-family: 'Crimson Pro';
  src: local('Crimson Pro'), url('./fonts/crimson-pro-latin-500-normal.woff2') format('woff');
}

@font-face {
  font-family: 'Source Serif Pro';
  src: local('Source Serif Pro'), url('./fonts/source-serif-pro-latin-400-normal.woff2') format('woff');
}

.muncul {
  position: relative;
  transform: translateY(6rem) scale(0.93);
  opacity: 0;
  transition: opacity 0.5s ease, transform 1s ease;
  /* Durasi muncul tanpa delay */
}

.muncul.active {
  transform: translateY(0);
  opacity: 1;
}

.muncul-kiri {
  position: relative;
  transform: translateX(-100%) scale(0.93);
  opacity: 0;
  transition: opacity 0.5s ease, transform 1s ease;
  /* Durasi muncul tanpa delay */
}

.muncul-kiri.active {
  transform: translateX(0);
  opacity: 1;
}

.muncul-kanan {
  position: relative;
  transform: translateX(100%) scale(0.93);
  opacity: 0;
  transition: opacity 0.5s ease, transform 1s ease;
  /* Durasi muncul tanpa delay */
}

.muncul-kanan.active {
  transform: translateX(0);
  opacity: 1;
}

.zoom {
  position: relative;
  transform: scale(0.5);
  opacity: 0;
  transition: opacity 0.5s ease, transform 1.5s ease;
  /* Durasi muncul tanpa delay */
}

.zoom.active {
  transform: scale(1);
  opacity: 1;
}

.elementor-animation-grow{transition-duration:.3s;transition-property:transform}.elementor-animation-grow:active,.elementor-animation-grow:focus,.elementor-animation-grow:hover{transform:scale(1.1)}

.e-lottie__container{display:inline-block;max-width:var(--lottie-container-max-width);opacity:var(--lottie-container-opacity);width:var(--lottie-container-width)}.e-lottie__container:hover{opacity:var(--lottie-container-opacity-hover);transition-duration:var(--lottie-container-transition-duration-hover)}.e-lottie__container svg,.e-lottie__container svg *{transition:none!important}.e-lottie__caption{color:var(--caption-color);margin-top:var(--caption-margin-top);text-align:var(--caption-text-align)}
